policy_module(openvpn-plugin-arachne, 1.0)

require {
        type sysctl_net_t;
        type openvpn_etc_t;
        type openvpn_t;
        class sock_file { create unlink };
        class file write;
}

#============= openvpn_t ==============
allow openvpn_t openvpn_etc_t:sock_file { create unlink };
allow openvpn_t sysctl_net_t:file write;
